<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNO</title>
</head>
<body>
    <header>
        <h1>
            Exposense
        </h1>
    </header>
    <p><%= chapters.title%></p>

    <footer>
        FOOTER
    </footer>
</body>
</html>