<%- include('./partials/head') %>

<main>

<section>
    <% article.data.forEach(article => {%>
       <h1>Exposense</h1>

        <p><%= article.intro %></p>
    
    <%}) %>


</section>






</main>
