.popup-cards{
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em 1em 2em;
    background-color: var(--primary-grey);

    & h2{
        color: var(--primary-blue);
    }

    & p{
        color: var(--primary-black);
    }
}
.close-btn{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin-left: auto;
    width: 1em;
}
a{
    color: var(--primary-blue);
    background-color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 32px;
    margin-left: auto;
    font-weight: 600;
    transition: .5s;
}