.popup-cards{
    display: flex;
    flex-direction: column;
    max-width: 40em;
    max-height: 35em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em 1em 2em;
    background-color: var(--primary-grey);

    & h2{
        color: var(--primary-blue);
    }

    & p{
        color: var(--primary-black);
    }
}
.close-btn{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin-left: auto;
    width: 1em;
}
a{
    color: var(--primary-blue);
    background-color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 32px;
    margin-left: auto;
    font-weight: 600;
    transition: .5s;
}
.card-content{
    display: flex;
    flex-direction: column;
}
.svg-image{
    max-height: 200px;
}

@media only screen and (min-width: 800px) {
    .card-content {
      display: flex;
      flex-direction: row-reverse;
    }
    .svg-image{
        max-height: 400px   ;
    }
    .popup-cards{
        position: absolute;
        top:   5%;
        left: 0%;
        right: 0%;
    }
  }


